<app-navbar></app-navbar>

<div class="row" *ngIf="quizService.questions && loadingError == false" >
  <div class="col s12 m8 xl8 offset-m2 offset-xl2 quizQuestions" @fade>
    <div class="card indigo lighten-5" *ngIf="quizService.currentQs < quizService.questions.length">
      <div class="card-content text-darken-1">
        <span class="card-title">Question {{quizService.currentQs+1}}</span>

        <p>{{quizService.questions[quizService.currentQs].question}}</p>
      </div>
      <div class="card-action blue-grey lighten-5 text-darken-1">
        <ul>
          <li *ngFor="let option of quizService.questions[quizService.currentQs]['options']" @fade>
            <label><input type="radio" name="answer" (change)="answer(quizService.currentQs,option)"/><span>{{option}}</span></label>
          </li>
        </ul>

      </div>
      <div class="card-action text-right">
        <span> {{ quizService.showTimeElapsed() }}</span>
      </div>
    </div>
    <div class="card blue-grey darken-2" *ngIf="quizService.currentQs != 0 && quizService.currentQs >= quizService.questions.length">
      <div class="card-content text-darken-1">
        <span class="card-title">Congratulation.</span>
      </div>
      <div class="card-action">
        You have answered all question.
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loadingError == true">
  <div class="col s12 m8 xl8 offset-m2 offset-xl2 quizQuestions">
    <div class="card indigo lighten-5">
      <div class="card-content text-darken-1">
        <span class="card-title">Oops!</span>
        <p>{{errorMessage}}</p>
        <br/>
        <button (click)="retry()" class="btn-large btn-submit">Retry!</button>
      </div>
    </div>
  </div>
</div>
